
.App-nav {
  background-color: #f0f2f7;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.view{
  padding: 20px;
  margin-left: 100px;
  border: 2px solid black ;
  height: 800px;
  width: 1000px;
}

